* {
    font-family: Georgia, serif;
    font-size: 100%;
    text-decoration: none;
}

.link {
    color: #d68812;
}

.header {
    background-color: #e68a00;
    padding: 2px;
    text-align: center;
}

h1 {
    font-size: 2.25em;
}

h1 a {
    color: black;
}

.main {
    background-color: #ffffcc;
    display: flex;
    flex-direction: row;
}

footer {
    color: grey;
    text-align: center;
}

input[type=text],
input[type=email],
input[type=tel] {
    width: 100%;
    font-size: 1.06em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit],
.login {
    background-color: #e68a00;
    font-weight: bold;
    border-radius: 12px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    outline: none;
}

fieldset {
    width: 280px;
    height: auto;
    border: none;
    padding: 5px;
    margin: 0 auto;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    padding: 20px;
}

.sign-in,
.admin_login,
.user_signup {
    margin-left: 200px;
}


/*home.html*/

.menu {
    margin: 0 auto;
}

td {
    padding: 20px;
    border-bottom: solid #ffc266 2px;
}

.nav {
    padding: 5px;
}

.nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
    height: 25px;
    padding: 20px 20px;
}

.nav ul li {
    display: inline;
    list-style: none;
}

.nav ul li a {
    padding: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 1.25em;
    padding: 20px;
}

button {
    outline: none;
}

.nav ul li a:hover {
    background-color: #ffc266;
}

.checkout {
    width: 400px;
    margin-right: 50px;
}

#order-btn {
    background-color: #ffc266;
    font-weight: bold;
    border-radius: 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


/*history.html*/

.history {
    margin: 0 auto;
}


/*admin pages*/

.order-list {
    margin: 0 auto;
}

.food {
    width: 400px;
    padding: 40px;
}

.orders {
    margin-left: 250px;
}

input[type=button],
button {
    background-color: #ffc266;
    font-weight: bold;
    border-radius: 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    outline: none;
}

.edit {
    margin: 0 auto;
}